.header-section {
  background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
}

.newTodo-box {
  margin-top: -30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-box {
  position: sticky;
  top: 0;
  z-index: 1;
}
