<h1 mat-dialog-title class="title">Edit Todo</h1>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onSubmitForm(form)">
    <div class="field">
      <div class="control">
        <input
          type="text"
          ngModel
          class="form-control"
          placeholder="Type text here...."
          [ngModel]="todoo.text"
          name="text"
          required
          #text="ngModel"
        />
      </div>
      <span
        class="help-block mx-3 text-danger"
        *ngIf="!text.valid && text.touched"
      >
        Please enter a valid Todo!!!
      </span>
    </div>

    <br />

    <div class="control-buttons d-flex justify-content-end">
      <div class="control px-2" (click)="close()">
        <button type="button" class="btn btn-danger">Cancel</button>
      </div>
      <div class="control">
        <button
          type="submit"
          class="btn btn-success d-flex align-items-center"
          [disabled]="!form.valid"
        >
          <i class="material-icons">save</i>
          Save
        </button>
      </div>
    </div>
  </form>
</div>
